.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background: gray;
   
  }
  
  .card {
    width: '18rem';
    margin-top: 30px;
    margin-left: 30px;
    height: 70%;
    border-radius: 10px;
    box-shadow:0px 0px 15px -8px black;
    display: inline;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px;
    background: orange;

    font-family: Helvetica-Bold;
    text-align: center;
    text-decoration: none !important;
  }

  .classWrap:hover {
    text-decoration: none !important;
  }
  .card:hover {
    transform: scale(1.1);
    background: #FF8C00;
  }
  
  @media (max-width: 768px) {
    .card {
      width: calc(100% - 10px); /* Adjust width of cards for smaller screens */
    }
  }
  