.tab-container {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .tab-header {
    display: flex;
    justify-content: space-around;
  }
  
  .tab-item {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
  }
  
  .tab-item.active {
    border-bottom: 5px solid #ccc;
    color: black;
    font-weight: 700;
  }
  
  .tab-content {
    padding: 20px;
  }
  
  .tab-pane {
    display: none;
  }
  
  .tab-pane.active {
    display: block;
  }
  